In [1]:
x = 10
a,b,c = 100,200, 300
print(x)
print(a,b,c)

10
100 200 300

In [2]:
x= 20

In [3]:
print (x)
print (a,b,c)

20
100 200 300

In [4]:
a, b = 7, 3.0
c = a//b

In [5]:
d = a%b
e= a**b

In [6]:
print (c,d,e)

2.0 1.0 343.0

In [9]:
print (type(c))

<class 'float'>

In [10]:
type(c)

float

In [12]:
mike = 80
judy = 75
sera = 100
avg = int((mike+judy+sera)/3)
print (avg)

85

In [ ]:
def ATM(a,b,c):
    if a>65 and b>65 and c>65:
        print("True")
    else:
        print("False")

In [17]:
bool(67>65 and 931>65 and 139>65)

True

In [18]:
bool(3)

True

In [5]:
num1 = input("num1: ")
num2 = input("num2: ")
num3 = input("num3: ")
print(int(num1)>65 and int(num2)>65 and int(num3)>65)

num1: 413
num2: 123
num3: 12
False

### print(int(num1)>65 and int(num2)>65 and int(num3)>65)

In [13]:
quote = "hello world"
quote[1:3]
quote[1:9:2]
quote[1::2]

'el ol'

In [21]:
name = input()
intro = "안녕하세요. 저는 %s입니다"
print(intro % name)

진하
안녕하세요. 저는 진하입니다

In [ ]:
height = input()
h_intro = "저의 키는 %.1f 입니다"
print (h_intro % height)

In [6]:
quote = "저의 이름은 {} 이고, 키는 {} 입니다.".format("진하",int(192))
quote

'저의 이름은 진하 이고, 키는 192 입니다.'

In [8]:
name = "andy"
loc = "Seoul"
intro = f"my name is {name}, from {loc}"
print(intro)

my name is andy, from Seoul

In [10]:
"""
a = "20190505chicken19000"

# code 작성
year = ?
day = ?
menu = ?
money = ?
"""
a = "20190505chicken19000"
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

comp= "{},{}에 {}를 {}내고 먹었습니다".format(year,day,menu,money)
print(comp)

2019,0505에 chicken를 19000내고 먹었습니다

In [16]:
a = "90:30:80"
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

avg = (math+english+science)/3
print(avg)

66.66666666666667

In [32]:
fruits = "p,a,g,m,w"
f_list = fruits.split(',')
f_list
f_join = " ".join(f_list)
f_join

a = "  90:30:80  "
a = a.strip()
math, english, sceince = a.split(":")
avg = (int(math) + int(english) + int(science))/3
print(avg)

66.66666666666667

In [33]:
a = [1,2,3,4]
a[1:2] = [3,4]
a

[1, 3, 4, 3, 4]

In [34]:
del a[1]
a

[1, 4, 3, 4]

In [38]:
e_list = []
e_list.append([3,4])
e_list.append(3)
e_list

[[3, 4], 3]

In [57]:
a = [1,2,3,4]
b = a.copy()
c = [1,2,3,4]
print(a==b)
print(b==c)
print(a is c)

d = "aaa"
e = "aaa"
print(e is d)

True
True
False
True

In [63]:
a = {
    'name':'Tom',
    'english':80,
    'math':99
}
print(a)
print(a.values())

{'name': 'Tom', 'english': 80, 'math': 99}
dict_values(['Tom', 80, 99])